/planahead/
/scriptgenwork/
/vivado/

/alibs.do
/cds.lib
/compile.asim
/compile.dc
/compile.ncsim
/compile.rc
/compile.simv
/compile.synp
/compile.vsim
/compile.xst
/fmref.tcl
/ghdl.path
/hdl.var
/libs.do
/libs.txt
/make.asim
/make.asim-addfile
/make.ghdl
/make.ncsim
/make.riviera
/make.simv
/make.vsim
/modelsim.ini
/noelvmp-Zed11.bit
/noelvmp.bit
/noelvmp.lct
/noelvmp.ldf
/noelvmp.msk
/noelvmp.npl
/noelvmp.syn
/noelvmp.xise
/noelvmp_designer.tcl
/noelvmp_designer_act.tcl
/noelvmp_files.prj
/noelvmp_ise.tcl
/noelvmp_nanoxmap.py
/noelvmp_nanoxpython.py
/noelvmp_precision.tcl
/noelvmp_precrun.tcl
/noelvmp_quartus.qpf
/noelvmp_quartus.qsf
/noelvmp_radiant.tcl
/noelvmp_radiant_build.tcl
/noelvmp_radiant_gen_ips.tcl
/noelvmp_rtl_fpro.fl
/noelvmp_synplify.npl
/noelvmp_synplify.qpf
/noelvmp_synplify.qsf
/noelvmp_synplify_win32.npl
/noelvmp_win32.npl
/riviera_ws_create.do
/scriptgen_variable_values.tcl
/scriptgendone
/synopsys_sim.setup
/testbench.mpf
/vcs_libs

/*.log
/*.jou
/*.xsa
/.Xil